<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data</title>
</head>
<body>
    <h1>Your data</h1>
    <!--('showdata.html',name=name,email=email,phone=phone,address=address,linkid=linkid,summary=summary,companynames=companynames,comrole=comrole,comdate=comdate,comdesc=comdesc,schoolnames=schoolnames,degreenames=degreenames,schoolyears=schoolyears,marks=marks,skills=skills)-->
    {{name}}
    {{email}}
    {{phone}}
    {{address}}
    {{linkid}}
    {{summary}}
    {{companynames}}
    {{comrole}}
    {{comdate}}
    {{comdesc}}
    {{schoolnames}}
    {{degreenames}}
    {{schoolyears}}
    {{marks}}
    {{skills}}

</body>
</html>